  <li>
  <%= gravatar_for user %>
  <%= user.name %>, 
  Email: <%= user.email %>

  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete, data: { confirm: "Are You sure?" } %>
  <% end %>

  </li>